@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;;
}
.dark .slick-dots li button:before {
  color: white; 
  opacity: 0.5;
}

.dark .slick-dots li.slick-active button:before {
  color: white; 
  opacity: 1; 
}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

